In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

['train.csv', 'gender_submission.csv', 'test.csv']

In [2]:
train_df=pd.read_csv("../input/train.csv")
test_df=pd.read_csv("../input/test.csv")

In [3]:
print(train_df.info())
print("--"*20)
print(test_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB
None
----------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB
None

In [4]:
X=train_df.drop("Survived",axis=1)
Y=train_df["Survived"]

In [5]:
combined_df=pd.concat([X,test_df])

In [6]:
print(combined_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    1309 non-null int64
Pclass         1309 non-null int64
Name           1309 non-null object
Sex            1309 non-null object
Age            1046 non-null float64
SibSp          1309 non-null int64
Parch          1309 non-null int64
Ticket         1309 non-null object
Fare           1308 non-null float64
Cabin          295 non-null object
Embarked       1307 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 122.7+ KB
None

# Data Cleaning
* Correct
* Complete
* Create
* Convert

In [7]:
from sklearn.impute import SimpleImputer

Age_imputer=SimpleImputer(strategy="median")
Fare_imputer=SimpleImputer(strategy="median")
Embarked_imputer=SimpleImputer(strategy="most_frequent")


combined_df["Age"]=Age_imputer.fit_transform(combined_df[["Age"]])
combined_df["Fare"]=Age_imputer.fit_transform(combined_df[["Fare"]])
combined_df["Embarked"]=Embarked_imputer.fit_transform(combined_df[["Embarked"]])

In [8]:
combined_df.drop(["Cabin"],axis=1,inplace=True)

In [9]:
combined_df["Family_size"]=combined_df["SibSp"]+combined_df["Parch"]+1
combined_df["Is_alone"]=int(0)
combined_df["Is_alone"][combined_df["Family_size"]==1]=int(1)

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [10]:
combined_df['Title']=combined_df['Name'].str.split(",", expand=True)[1].str.split(".", expand=True)[0]

In [11]:
combined_df["Fare_bin"]=pd.qcut(combined_df["Fare"],4)
combined_df["Age_bin"]=pd.cut(combined_df["Age"].astype(int),4)

In [12]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()


combined_df["Sex_encode"]=encoder.fit_transform(combined_df["Sex"])
combined_df["Age_encode"]=encoder.fit_transform(combined_df["Age_bin"])
combined_df["Fare_encode"]=encoder.fit_transform(combined_df["Fare_bin"])
combined_df["Title_encode"]=encoder.fit_transform(combined_df["Title"])
combined_df["Embarked_encode"]=encoder.fit_transform(combined_df["Embarked"])

In [13]:
combined_df.head()

   PassengerId  Pclass       ...       Title_encode Embarked_encode
0            1       3       ...                 12               2
1            2       1       ...                 13               0
2            3       3       ...                  9               2
3            4       1       ...                 13               2
4            5       3       ...                 12               2

[5 rows x 20 columns]

In [14]:
# Features to be used
df_final=combined_df[["Pclass","Family_size","Is_alone","Sex_encode","Age_encode","Fare_encode","Embarked_encode"]]
X_train=df_final[0:891]
X_test=df_final[891:]

In [15]:
X_train.head()

   Pclass  Family_size       ...         Fare_encode  Embarked_encode
0       3            2       ...                   0                2
1       1            2       ...                   3                0
2       3            1       ...                   1                2
3       1            2       ...                   3                2
4       3            1       ...                   1                2

[5 rows x 7 columns]

# Model Creation

In [16]:
from sklearn import ensemble, neural_network , neighbors , svm , linear_model ,naive_bayes ,tree , gaussian_process,discriminant_analysis
from xgboost import XGBClassifier, XGBRFClassifier

In [17]:
#Machine Learning Algorithms
MLA=[
    #Ensemble Methods
    ensemble.AdaBoostClassifier(),
    ensemble.BaggingClassifier(),
    ensemble.ExtraTreesClassifier(),
    ensemble.GradientBoostingClassifier(),
    ensemble.RandomForestClassifier(),

    #Gaussian Processes
    gaussian_process.GaussianProcessClassifier(),
    
    #GLM
    linear_model.LogisticRegressionCV(),
    linear_model.PassiveAggressiveClassifier(),
    linear_model.RidgeClassifierCV(),
    linear_model.SGDClassifier(),
    linear_model.Perceptron(),
    
    #Navies Bayes
    naive_bayes.BernoulliNB(),
    naive_bayes.GaussianNB(),
    
    #Nearest Neighbor
    neighbors.KNeighborsClassifier(),
    
    #SVM
    svm.SVC(probability=True),
    svm.NuSVC(probability=True),
    svm.LinearSVC(),
    
    #Trees    
    tree.DecisionTreeClassifier(),
    tree.ExtraTreeClassifier(),
    
    #Discriminant Analysis
    discriminant_analysis.LinearDiscriminantAnalysis(),
    discriminant_analysis.QuadraticDiscriminantAnalysis(),

    #Neural Network
    neural_network.MLPClassifier(),
    
    #xgboost
    XGBClassifier(),
    XGBRFClassifier()
]

In [18]:
MLA_compare=["Algorithm_Name","Parameters", "Mean_Accuracy","Standard_Deviation"]
MLA_compare=pd.DataFrame(columns=MLA_compare)

In [19]:
from sklearn.model_selection import cross_val_score

index=0
for algo in MLA:
    clf=algo
    clf.fit(X_train,Y)
    cv=cross_val_score(estimator=algo,X=X_train,y=Y,cv=10,n_jobs=-1)
    cv_mean=cv.mean()
    cv_std=cv.std()
    MLA_compare.loc[index,"Algorithm_Name"]=algo.__class__.__name__
    MLA_compare.loc[index,"Parameters"]=str(algo.get_params())
    MLA_compare.loc[index,"Mean_Accuracy"]=cv_mean
    MLA_compare.loc[index,"Standard_Deviation"]=cv_std
    index+=1

/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/model_selection/_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/svm/base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/neural_network/multilayer_perceptron.py:566: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

In [20]:
MLA_compare

                   Algorithm_Name        ...         Standard_Deviation
0              AdaBoostClassifier        ...                  0.0243432
1               BaggingClassifier        ...                  0.0468715
2            ExtraTreesClassifier        ...                  0.0405506
3      GradientBoostingClassifier        ...                  0.0284525
4          RandomForestClassifier        ...                  0.0421505
5       GaussianProcessClassifier        ...                  0.0378785
6            LogisticRegressionCV        ...                  0.0171419
7     PassiveAggressiveClassifier        ...                   0.115759
8               RidgeClassifierCV        ...                  0.0198522
9                   SGDClassifier        ...                  0.0615551
10                     Perceptron        ...                   0.122593
11                    BernoulliNB        ...                  0.0323474
12                     GaussianNB        ...                  0.0441993
13           KNeighborsClassifier        ...                  0.0421849
14                            SVC        ...                  0.0245252
15                          NuSVC        ...                  0.0239339
16                      LinearSVC        ...                  0.0214835
17         DecisionTreeClassifier        ...                  0.0434715
18            ExtraTreeClassifier        ...                  0.0458891
19     LinearDiscriminantAnalysis        ...                  0.0212297
20  QuadraticDiscriminantAnalysis        ...                   0.033879
21                  MLPClassifier        ...                  0.0325135
22                  XGBClassifier        ...                  0.0311333
23                XGBRFClassifier        ...                   0.022962

[24 rows x 4 columns]

## Fine Tuning Models by tuning Hyper parameters

In [21]:
selected_model=svm.NuSVC(probability=True)
selected_model.fit(X_train,Y)

/opt/conda/lib/python3.6/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

NuSVC(cache_size=200, class_weight=None, coef0=0.0,
      decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
      kernel='rbf', max_iter=-1, nu=0.5, probability=True, random_state=None,
      shrinking=True, tol=0.001, verbose=False)

In [22]:
# Parameters=[{"base_score":[0.1,0.2,0.3,0.5,0.6,0.9,1,2],
#              "gamma":[0,0.1,0.2,0.3,0.4,0.5,1],
#              "learning_rate":[0,0.1,0.2,0.3,0.4,1],
#             }]

In [23]:
# from sklearn.model_selection import GridSearchCV
# grid=GridSearchCV(estimator=selected_model,param_grid=Parameters,n_jobs=-1,cv=10,scoring="accuracy")
# result=grid.fit(X=X_train,y=Y)

In [24]:
# best_accuracy=result.best_score_
# best_parameters=result.best_params_

In [25]:
y_pred=selected_model.predict(X_test)
y_pred=pd.DataFrame({"PassengerId":test_df["PassengerId"],"Survived":y_pred})
y_pred.to_csv("Submit.csv",index=False)

In [26]:
test_df

     PassengerId  Pclass   ...               Cabin Embarked
0            892       3   ...                 NaN        Q
1            893       3   ...                 NaN        S
2            894       2   ...                 NaN        Q
3            895       3   ...                 NaN        S
4            896       3   ...                 NaN        S
5            897       3   ...                 NaN        S
6            898       3   ...                 NaN        Q
7            899       2   ...                 NaN        S
8            900       3   ...                 NaN        C
9            901       3   ...                 NaN        S
10           902       3   ...                 NaN        S
11           903       1   ...                 NaN        S
12           904       1   ...                 B45        S
13           905       2   ...                 NaN        S
14           906       1   ...                 E31        S
15           907       2   ...                 NaN        C
16           908       2   ...                 NaN        Q
17           909       3   ...                 NaN        C
18           910       3   ...                 NaN        S
19           911       3   ...                 NaN        C
20           912       1   ...                 NaN        C
21           913       3   ...                 NaN        S
22           914       1   ...                 NaN        S
23           915       1   ...                 NaN        C
24           916       1   ...     B57 B59 B63 B66        C
25           917       3   ...                 NaN        S
26           918       1   ...                 B36        C
27           919       3   ...                 NaN        C
28           920       1   ...                 A21        S
29           921       3   ...                 NaN        C
..           ...     ...   ...                 ...      ...
388         1280       3   ...                 NaN        Q
389         1281       3   ...                 NaN        S
390         1282       1   ...                 B24        S
391         1283       1   ...                 D28        S
392         1284       3   ...                 NaN        S
393         1285       2   ...                 NaN        S
394         1286       3   ...                 NaN        S
395         1287       1   ...                 C31        S
396         1288       3   ...                 NaN        Q
397         1289       1   ...                 B41        C
398         1290       3   ...                 NaN        S
399         1291       3   ...                 NaN        Q
400         1292       1   ...                  C7        S
401         1293       2   ...                 NaN        S
402         1294       1   ...                 NaN        C
403         1295       1   ...                 NaN        S
404         1296       1   ...                 D40        C
405         1297       2   ...                 D38        C
406         1298       2   ...                 NaN        S
407         1299       1   ...                 C80        C
408         1300       3   ...                 NaN        Q
409         1301       3   ...                 NaN        S
410         1302       3   ...                 NaN        Q
411         1303       1   ...                 C78        Q
412         1304       3   ...                 NaN        S
413         1305       3   ...                 NaN        S
414         1306       1   ...                C105        C
415         1307       3   ...                 NaN        S
416         1308       3   ...                 NaN        S
417         1309       3   ...                 NaN        C

[418 rows x 11 columns]